<%- contentFor('header') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<% /*
Content for the `body` section should either be the first thing defined
in the view, or it has to be declared just like any other section.
*/ %>
<%- contentFor('body') %>
<form name="form1" method="GET" action="/update">
<table class="table table-bordered" style="text-align: center;">
  <thead>
    <tr class="success">
      <th>Number</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Tel.</th>
    </tr>
  </thead>
  <tbody>
    <tr class="success">
      <td><%= id %></td>
      <td><input type="text" name="fname" placeholder="<%= fname %>"></td>
      <td><input type="text" name="lname" placeholder="<%= lname %>"></td>
      <td><input type="text" name="age" placeholder="<%= age %>"></td>
      <td><input type="text" name="tel" placeholder="<%= tel %>"></td>
    </tr>
  </tbody>
  <tr>
    <td colspan="5"><button type="submit" name="update" value="<%= id %>" class="btn btn-primary">Update</button></td>
  </tr>
</table>
</form>

<% /*
When style extraction is enabled, any custom styles that a page defines, will
be extracted out of the content and made available in the specific placeholder.
In our example, even though we're defining a <style> within the body, this will
be placed, according to our layout, inside of the <head> element.
<link> blocks to load external stylesheets are also extracted when the option
is enabled.
*/ %>

<style>
  .page-message {
    color: blue
  }
</style>

<% /*
Like stylesheets, scripts can also be extracted.
This script block will end up at the end of the HTML document.
*/ %>
<script>
  // Script content!

  var express = require('express');
  var app = express();

</script>