<%- contentFor('header') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
th {
  text-align: center;
}
</style>

<% /*
Content for the `body` section should either be the first thing defined
in the view, or it has to be declared just like any other section.
*/ %>
<%- contentFor('body') %>

<table class="table table-bordered">
  <thead>
    <tr class="success">
      <th>Number</th>
      <th>Username</th>
      <th>Password</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Tel.</th>
      <th>Option</th>
    </tr>
  </thead>
  <% result.forEach(data => { %>
    <tbody>
      <tr>
      <td><%=data.id%></td>
      <td><%=data.username%></td>
      <td><%=data.password%></td>
      <td><%=data.fname%></td>
      <td><%=data.lname%></td>
      <td><%=data.age%></td>
      <td><%=data.tel%></td>
      <td>
        <a href="/delete?id_del=<%=data.id%>">
            DELETE
        </a>
        <a href="/edit?id_edit=<%=data.id%>">
          EDIT
        </a>
      </td>
      </tr>
    </tbody>
<% }) %>
  
  <tr>
    <td colspan="8"><a href="/" type="submit" class="btn btn-primary">Back</a></td>
  </tr>
</table>

<% /*
When style extraction is enabled, any custom styles that a page defines, will
be extracted out of the content and made available in the specific placeholder.
In our example, even though we're defining a <style> within the body, this will
be placed, according to our layout, inside of the <head> element.
<link> blocks to load external stylesheets are also extracted when the option
is enabled.
*/ %>

<style>
  .page-message {
    color: blue
  }
</style>

<% /*
Like stylesheets, scripts can also be extracted.
This script block will end up at the end of the HTML document.
*/ %>
<script>
  // Script content!
</script>